# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/app/build
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties

# iOS related
**/ios/Pods/
**/ios/.symlinks
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json

# Environment
.env
.env.local
.env.*.local

# Test
coverage/

# IDE
.idea/
.vscode/
*.iml

# Assets
assets/fonts/
assets/images/google_logo.png
